<md-card>
	<md-toolbar>
		<h2 class="md-toolbar-tools" layout-align="center">Adventure Game</h2>
	</md-toolbar>
	<md-content layout="column" layout-padding flex="none">
		<p>Welcome to the Adventure of a lifetime. You will embark on a voyage to save the princess from the evil Bowser. Choose carefully, adventurer, as your decisions affect the outcome!
		</p>
		<div id="game-buttons" layout="row" layout-align="center">
			<md-button class="md-raised md-accent md-hue-3" ui-sref="storyPath({path: 'chap1'})">Begin</md-button>		
		</div>

	</md-content>
</md-card>