<md-card>
	<md-toolbar>
		<h2 class="md-toolbar-tools" layout-align="center">Choose your Destiny</h2>
	</md-toolbar>
	<md-content layout="column" layout-padding flex="none">
		<p>{{ ctrl.introText }}</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas ut quis magnam ipsum quod quam veritatis quibusdam, labore,
			reprehenderit voluptas, nam dicta velit perferendis animi sed molestias eius quia ea!
		</p>
		<div id="game-buttons" layout="row" layout-align="center">
			<md-button class="md-raised md-accent md-hue-3">Option1</md-button>
			<md-button class="md-raised md-accent md-hue-3">Option2</md-button>
			<md-button class="md-raised md-accent md-hue-3">Option3</md-button>
		</div>

	</md-content>
</md-card>